
# =========================         
# Project                           
# =========================         
           
# Sites & Docs
_web/           
                                    
# Output files                      
output/                             
obj/                                
bin/                                
bin-cmake/                          
build-*/                              
build/                              
builds/                             
                                    
# Doxygen Output                    
doxygen/                            
_doxygen/                           
                                    
# QT Creator                        
*.user                              
*.user*                             
*.autosave                          
                                    
# =========================         
# WINDOWS                           
# =========================         
                                    
# Windows image file caches         
Thumbs.db                           
ehthumbs.db                         
                                    
onfig file                          
Desktop.ini                         
                                    
# Recycle Bin used on file shares   
.BIN/                       
                                    
# Windows Installer files           
*.cab                               
*.msi                               
*.msm                               
*.msp                               
                                    
# Windows shortcuts                 
*.lnk                               
                                    
# =========================         
# OSX                               
# =========================         
                                    
.DS_Store                           
.AppleDouble                        
.LSOverride                         
                                    
                                    
# Files that might appear           
#  in the root of a volume          
.DocumentRevisions-V100             
.fseventsd                          
.Spotlight-V100                     
.TemporaryItems                     
.Trashes                            
.VolumeIcon.icns                    
                                    
# Directories potentially           
#  created on remote AFP share      
.AppleDB                            
.AppleDesktop                       
Network Trash Folder                
Temporary Items                     
.apdisk                             
                                    
# =========================         
# Non-source data                   
# =========================         
                                    
# Compiled Object files             
*.slo                               
*.lo                                
*.o                                 
*.obj                               
                                    
# Precompiled Headers               
*.gch                               
*.pch                               
                                    
# Compiled Dynamic libraries        
*.so                                
*.dylib                             
*.dll                               
                                    
# Fortran module files              
*.smod                              
                                    
# Compiled Static libraries         
*.lai                               
*.la                                
*.a                                 
*.lib                               
                                    
# Executables                       
*.exe                               
*.out                               
*.app                               
